<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubbles.eventhub.mapper.CommunityCreateApplicationMapper">
    <sql id="baseColumns">application_id, name, description, logo_url, applicant_id, status, apply_time, approve_time, approve_by, reject_reason</sql>
    <select id="selectByApplicantId" resultType="com.bubbles.eventhub.entity.CommunityCreateApplication">
        SELECT <include refid="baseColumns"/> FROM community_create_applications WHERE applicant_id = #{applicantId} ORDER BY apply_time DESC
    </select>
    <select id="selectByStatus" resultType="com.bubbles.eventhub.entity.CommunityCreateApplication">
        SELECT <include refid="baseColumns"/> FROM community_create_applications WHERE status = #{status} ORDER BY apply_time DESC
    </select>
    <select id="countByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM community_create_applications WHERE name = #{name}
    </select>
    <select id="selectPage" resultType="com.bubbles.eventhub.entity.CommunityCreateApplication">
        SELECT <include refid="baseColumns"/> FROM community_create_applications
        <where><if test="status != null and status != ''">status = #{status}</if></where>
        ORDER BY apply_time DESC
    </select>
    <update id="updateById">
        UPDATE community_create_applications
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveBy != null">approve_by = #{approveBy},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
        </set>
        WHERE application_id = #{applicationId}
    </update>
</mapper>